.center{
    margin-left: 500px;


    justify-content: center;
}

.button{
    border-radius: 8px;
    background-color:rgb(241, 238, 238);
    color: rgb(30, 180, 0);
    width: 120px;
    height: 100px;
    margin: 6px;
}
.img{
    width: 105px;
    height: 80px;
    cursor: pointer;
    

}

.reset{
    margin-top: 40px;
    margin-left: 130px;
}